<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta http-equiv='X-UA-Compatible' content='ie=edge'>
    <title>YSearch</title>
    <style>
        html, body
        {
            background-color: #F6F9FC;
            margin: 0;
            padding: 0;
            overflow-x: hidden;
            color: black;
        }

        input, button
        {
            height: calc(1rem + 1vw);
            text-align: center;
            margin: 0;
        }

        input
        {
            width: 100%;
            margin: 0;
        }

        button
        {
            display: none;
        }

        main
        {
            display: table;
            margin: 0 auto;
        }

        .results
        {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-gap: 1vw;
        }

        form
        {
            display: table;
            margin: 0 auto;
            margin-bottom: 0.5%;
            width: 100vw;
            max-width: 100vw;
            overflow: hidden;
        }

        .video
        {
            width: 23vw;
            margin: 0;
            padding: 0;
            position: relative;
            padding-bottom: 1rem;
            overflow: hidden;
            border-radius: 1.5%;
            background: white;
        }

        img, a
        {
            display: block;
            width: 100%;
        }

        .video *
        {
            display: table;
            margin: 0 auto;
        }

        .duration
        {
            position: absolute;
            top: 0;
            right: 0.5vw;
            color: white;
            text-shadow: 1px 1px 2px grey;
        }

        .views
        {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            text-align: center;
        }

        .title
        {
            text-align: center;
        }

        a
        {
            text-decoration: none;
            border: none;
            color: inherit;
        }

        #comments
        {
            display: table;
            margin: 0 auto;
            padding: 1%;
        }

        li
        {
            list-style: none;
            padding: 1%;
        }

        .hide
        {
            color: grey;
            text-align: center;
        }
    </style>
</head>
<body>
    <form action='/' method='POST'>
        <input
            name='terms'
            type='text'
            placeholder='Enter serch terms and press enter'>
        <button id='submit' type='submit'>Submit</button>
    </form>
    <main>

<?
    if(locals.id)
    {
?>
    <iframe
        src="https://www.youtube.com/embed/<?= id ?>?autoplay=1&rel=0"
        frameborder="0"
        allowfullscreen></iframe>
    <script>
        let i = document.getElementsByTagName('iframe')[0];
        i.width = window.innerWidth;
        i.height = window.innerHeight/1.5;
        window.addEventListener('resize', () =>
        {
            i.width = window.innerWidth;
            i.height = window.innerHeight/1.5;
        });
    </script>

    <h2 class='hide'>
        <a href='https://www.youtube.com/watch?v=<?= id?>'>Direct Link</a>
    </h2>

    <ul id='comments'></ul>
    <script>
        let com = document.getElementById('comments');
        fetch('/comments?v=<?= id ?>')
        .then((res) => res.json())
        .then((res) =>
        {
            res.forEach((c) =>
            {
                let li_top = document.createElement('li');
                li_top.innerHTML = `<b title='${c.time}'>${c.author}</b>: ${c.text}`;
                if(c.replies && c.replies.length)
                {
                    let ul = document.createElement('ul');
                    let li;
                    c.replies.forEach((r) =>
                    {
                        li = document.createElement('li');
                        li.innerHTML =
                        `<b title='${r.time}'>${r.author}</b>: ${r.text}`;
                        ul.appendChild(li);
                    });

                    li_top.appendChild(ul);
                }

                com.appendChild(li_top);
            });
        })
        .catch((err) =>
        {
            console.error(err);
        });
    </script>
<?
    }

    if(locals.comments)
    {
        comments.forEach((c) =>
        {
?>

<?
        })
    }
?>

    </main>
</body>
</html>